<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer">
<script src="../static/vendor/mdb/js/jquery-3.4.1.min.js" th:src="@{/vendor/mdb/js/jquery-3.4.1.min.js}"></script>
<script src="../static/vendor/mdb/js/popper.min.js" th:src="@{/vendor/mdb/js/popper.min.js}"></script>
<script src="../static/vendor/mdb/js/bootstrap.min.js" th:src="@{/vendor/mdb/js/bootstrap.min.js}"></script>
<script src="../static/vendor/mdb/js/mdb.min.js" th:src="@{/vendor/mdb/js/mdb.min.js}"></script>
</div>
</body>
</html>