<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <form method="POST" action="/admin/stable/edit">
                    <input type="hidden" th:value="${stable.id}" name="id" id="id">
                    <div class="form-group">
                        <label for="name">Название конюшни</label>
                        <input type="text" th:value="${stable.name}" class="form-control" name="name" id="name" />
                    </div>
                    <h3>Адрес</h3>
                    <div class="form-group">
                        <label for="country">Страна</label>
                        <input type="text" th:value="${stable.address.country}" class="form-control" name="address.country" id="country" />
                    </div>
                    <div class="form-group">
                        <label for="country">Область</label>
                        <input type="text" th:value="${stable.address.region}" class="form-control" name="address.region" id="region" />
                    </div>
                    <div class="form-group">
                        <label for="country">Район</label>
                        <input type="text" th:value="${stable.address.district}" class="form-control" name="address.district" id="district" />
                    </div>
                    <div class="form-group">
                        <label for="country">Город</label>
                        <input type="text" th:value="${stable.address.city}" class="form-control" name="address.city" id="city" />
                    </div>
                    <div class="form-group">
                        <label for="country">Населенный пункт</label>
                        <input type="text" th:value="${stable.address.locality}" class="form-control" name="address.locality" id="locality" />
                    </div>
                    <div class="form-group">
                        <label for="country">Улица</label>
                        <input type="text" th:value="${stable.address.street}" class="form-control" name="address.street" id="street" />
                    </div>
                    <div class="form-group">
                        <label for="country">Дом</label>
                        <input type="text" th:value="${stable.address.house}" class="form-control" name="address.house" id="house" />
                    </div>
                    <div class="form-group">
                        <label for="country">Строение</label>
                        <input type="text" th:value="${stable.address.building}" class="form-control" name="address.building" id="building" />
                    </div>
                    <div class="form-group">
                        <label for="country">Корпус</label>
                        <input type="text" th:value="${stable.address.housing}" class="form-control" name="address.housing" id="housing" />
                    </div>
                    <div class="form-group">
                        <label for="country">Ссылка на яндекс карты</label>
                        <input type="text" th:value="${stable.address.url}" class="form-control" name="address.url" id="url" />
                    </div>
                    <div class="form-group">
                        <label for="country">Описание</label>
                        <textarea class="form-control" th:value="${stable.address.description}" name="address.description" rows="3" id="description"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Добавить" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>