<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../vendor/mdb/css/bootstrap.min.css" th:href="@{/vendor/mdb/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../vendor/mdb/css/mdb.min.css" th:href="@{/vendor/mdb/css/mdb.min.css}" />
    <link rel="stylesheet" href="../vendor/mdb/css/style.min.css" th:href="@{/vendor/mdb/css/style.min.css}" />
    <link rel="stylesheet" href="../static/css/dropzone.css" th:href="@{/css/dropzone.css}" />
</head>
<body>
    <div class="container-fluid">
        <div th:replace="fragment/nav :: nav"></div>
    </div>
    <div style="margin-top:70px" class="container">
        <div class="row"><div class="col-12"><a th:href="@{/admin/stable/add}" class="btn btn-primary">Добавить конюшню</a></div> </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Адрес</th>
                    <th>Портфолио</th>
                    <th colspan="2">Операции</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="stable : ${stables}">
                    <td th:text="${stable.name}"></td>
                    <td th:text="${stable.fullAddress}"></td>
                    <td><a th:href="@{'/stable/'+${stable.id}+'/portfolio'}">Портфолио</a></td>
                    <td><a th:href="@{'/admin/stable/edit/'+${stable.id}}">Редактировать</a></td>
                    <td><a th:href="@{'/admin/stable/delete/'+${stable.id}}">Удалить</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragment/footer :: footer"></div>
</body>
</html>