<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../vendor/mdb/css/bootstrap.min.css" th:href="@{/vendor/mdb/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../vendor/mdb/css/mdb.min.css" th:href="@{/vendor/mdb/css/mdb.min.css}" />
        <link rel="stylesheet" href="../vendor/mdb/css/style.min.css" th:href="@{/vendor/mdb/css/style.min.css}" />
        <link rel="stylesheet" href="../static/css/dropzone.css" th:href="@{/css/dropzone.css}" />
        <title>Hello, world!</title>
        <style>
                #file{
                    border-radius: 5px;
                    border: 1px dodgerblue dashed;
                }
            </style>

    </head>
    <body th:id="${stableId}">

        <div th:replace="fragment/nav :: nav"></div>

        <div style="margin-top:80px" class="container">
            <div class="row">
                <div class="col-12">
                    <div th:replace="fragment/breadcrumb :: breadcrumb"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="photo-tab" data-toggle="tab" href="#photo" role="tab" aria-controls="photo" aria-selected="true">Фото</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="video-tab" data-toggle="tab" href="#video" role="tab" aria-controls="video" aria-selected="false">Видео</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div th:replace="fragment/portfolio/photo :: photo"></div>
                        <div th:replace="fragment/portfolio/video :: video"></div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../static/js/dropzone.js" th:src="@{/js/dropzone.js}"></script>
        <div th:replace="fragment/footer :: footer"></div>
        <script type="text/javascript">
            $("document").ready(function(){

                $("#addVideo").click(function(e){
                    e.preventDefault();
                    var data = {
                        'url': $("#video-link").val(),
                        'name': $("#video-name").val()
                    }
                   $.ajax({
                      type: 'POST',
                      url: '/stable/'+id+'/portfolio/save/video',
                      data: data,
                      success: function(data){
                       addVideo(data);
                      }
                    });
                });

                var id = $('body').attr('id');
                var myDropzone = new Dropzone("div#file", {
                    url: '/stable/'+id+'/portfolio/save/photo',
                    addRemoveLinks: "true",
                    maxFiles: 2,
                    maxFilesize: 2,
                    autoProcessQueue: false,
                    uploadMultiple: true,
                    error: function(error){
                        console.log(error);
                    }
                });

                myDropzone.on("complete", function(file) {
                  myDropzone.removeFile(file);
                });

                myDropzone.on("success", function(file, data) {
                  renderPhoto(data);
                });



                $("#button").click(function (e) {
                    e.preventDefault();
                    myDropzone.processQueue();
                });

                $('#modal1').on('hidden.bs.modal', function (e) {
                    // do something...
                    $('#modal1 iframe').attr("src", $("#modal1 iframe").attr("src"));
                });

                $('#modal6').on('hidden.bs.modal', function (e) {
                    // do something...
                    $('#modal6 iframe').attr("src", $("#modal6 iframe").attr("src"));
                });

                $('#modal4').on('hidden.bs.modal', function (e) {
                    // do something...
                    $('#modal4 iframe').attr("src", $("#modal4 iframe").attr("src"));
                });

                function renderPhoto(list){
                  $('#photos').html('');
                  list.forEach(function(element){
                      $('#photos').append('<div style="margin-bottom: 2em" class="col-3"><img src="data:'+element.type+';base64, '+element.file+'" class="img-thumbnail" /><br /><a href="#">Удалить</a></div>');
                  });
                };

                function addVideo(data){
                    $('#video-list').html('');
                    data.forEach(function(element){
                        $('#video-list').append('<div class="col-3"><div class="modal fade" id="modal'+element.id+'" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"><div class="modal-dialog modal-lg" role="document"><div class="modal-content"><div class="modal-body mb-0 p-0"><div class="embed-responsive embed-responsive-16by9 z-depth-1-half"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/'+element.url+'" allowfullscreen></iframe></div></div><div class="modal-footer justify-content-center"><span class="mr-4">'+element.name+'</span><button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Закрыть</button></div></div></div></div><a><img class="img-fluid z-depth-1" src="https://img.youtube.com/vi/'+element.url+'/hqdefault.jpg" alt="video"data-toggle="modal" data-target="#modal'+element.id+'"></a></div>');
                    });
                }
            });

        </script>
    </body>
</html>